.board-wrapper {
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 900px;
  position: relative;
  border: 1px solid var(--neutral-200);
  z-index: 5;
}
.aside {
  max-width: 272px;
  width: 100%;
}
.content-wrapper {
  max-width: 1168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--neutral-100);
}

.content-header {
  width: 100%;
  min-height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutral-200);
  padding: 0 3.2rem;
}
.main-title {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 120%;
}
/* SEARCH BAR STYLING */
.search-settings-wrapper {
  max-width: 358px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.search-bar{
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.search-bar.mobile,.search-results{
  width: 100%;
  flex-direction: column;
  gap: 1.6rem;
}
.field,
.search-label,
.search-input {
  width: 100%;
  height: 44px;
}
.field {
  display: flex;
  align-items: center;
  padding-left: 1.6rem;
  border: 1px solid var(--neutral-200);
  gap: 0.8rem;
  border-radius: 0.8rem;
}
.field:focus-within,
.field:hover {
  border-color: var(--blue-500);
  cursor: pointer;
}
.search-input:focus {
  outline: none;
  border-color: var(--blue-500);
  cursor: pointer;
}
.settings-btn {
  color: var(--neutral-500);
  transition: 0.3s ease-in-out;
}
.active-settings-btn {
  height: 4.4rem;
  width: 5.4rem;
  background-color: var(--neutral-100);
  border-radius: 0.6rem;
  color: var(--blue-500);
  transition: 0.3s ease-in-out;
}
.settings-icon {
  font-size: 2.4rem !important;
  transition: 0.3s ease-in-out;
}
.notes-detailed-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.notes-wrapper {
  max-width: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1.6rem 2rem 3.2rem;
  border-right: 1px solid var(--neutral-200);
  min-height: 819px;
}
.add-note-btn {
  height: 4.1rem;
  width: 100%;
  background-color: var(--blue-500);
  margin-bottom: 1.6rem;
  color: var(--neutral-0);
  font-size: 1.4rem;
  font-weight: 400;
  justify-content: center !important;
}
.detailed-notes-wrapper {
  max-width: 588px;
  width: 100%;
  min-height: 819px;
  border-right: 1px solid var(--neutral-200);
}
.btn-actions-wrapper {
  max-width: 258px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1.6rem;
  gap: 1.2rem;
}
.reusable-btn {
  width: 100%;
  height: 4.4rem;
  padding: 0 1.6rem;
  justify-content: flex-start;
  border: 1px solid var(--neutral-200);
  gap: 0.8rem;
  border-radius: 0.8rem;
  min-width: max-content;
}
/* NOTE CARDS STYLING */
.notes-list,
.note-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.note-card {
  padding: 0.8rem;
  /* gap: 1.2rem; */
}
.note-card:not(.current-note, :last-child) {
  border-bottom: 1px solid var(--neutral-200);
  margin-bottom: 0.4rem;
}
.note-title {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.current-note {
  background-color: var(--neutral-100);
  border-radius: 0.6rem;
}
.card-tag-list {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1.2rem;
}
.card-tag-item {
  padding: 0.2rem 0.6rem;
  background-color: var(--neutral-200);
  border-radius: 0.4rem;
  font-size: 1.2rem;
}
.card-date {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: normal;
}
.btn.mobile,
.tablet-mobile-board,
.links-wrapper.mobile,.search-results {
  display: none!important;
}
/* TABLET/MOBILE STYLES */
@media (max-width: 1200px) {
  .desktop,.aside.desktop {
    display: none !important;
  }
  .board-wrapper.mobile {
    min-height: 100vh !important;
    border: none;
  }
  .btn.mobile,.links-wrapper.mobile,.tag-link.mobile,.tablet-mobile-board,.search-results {
    display: flex!important;
  }
  .tablet-mobile-board {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .aside-header.mobile {
    width: 100%;
    background-color: var(--neutral-200);
    padding: 2rem 3.2rem;
    display: flex;
  }
  .aside-wrapper.mobile {
    border: none;
    max-width: 100% !important;
    flex-direction: row;
    align-items: center;
    min-height: 0 !important;
    border-top: 1px solid var(--neutral-100);
  }
  .aside-nav.mobile {
    max-width: 100% !important;
  }
  .links-wrapper.mobile {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .link-item.mobile {
    width: fit-content;
    padding: 0.8rem 1.6rem;
  }
  .current-link{
    background-color: var(--neutral-200)!important;
  justify-content: space-between;
  border-radius: .8rem;
  padding: 0.8rem 1.6rem;
  }
  .btn-text.mobile{
    flex-direction: column;
    /* color: var(--blue-500); */
  }
  .arrow.mobile {
    display: none;
  }
  .notes-wrapper {
    border-radius: 1.2rem 1.2rem 0 0;
    max-width: 100% !important;
  }
  .detailed-mobile-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .detailed-mobile-actions-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--neutral-200);
    padding-bottom: 1.6rem;
  }
  .detailed-delete-archive{
    display: flex;
    gap: 1.2rem;
  }
  .current-note {
    background-color: inherit!important;
    border-radius: 0!important;
  }
  .note-card:not(:last-child) {
    border-bottom: 1px solid var(--neutral-200)!important;
    margin-bottom: 0.4rem!important;
  }
  .notes-wrapper{
    position: relative;
  }
  .mobile-newNote{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }
  .tag-list{
    border: none!important;
  }
  .tag-heading{
    color: var(--neutral-950)!important;
    font-size: 2.4rem!important;
    font-weight: bold!important;
  }
  .tag-item:not(:last-child){
    border-bottom: 1px solid var(--neutral-200)!important;
  }
  .btn.mobile{
    gap: .8rem!important;
  }
}


