.aside-wrapper,
.aside-nav,.links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aside-wrapper {
  max-width: 272px;
  padding: 1.2rem 1.6rem;
  min-height: 900px;
  border-right: 1px solid var(--neutral-200);
}
.aside-nav {
  margin-top: 1.6rem;
}
.links-wrapper{
    gap: 1.6rem;
}
.link-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btn{
  width: 100%;
  justify-content: flex-start;
  padding: 1rem 1.2rem;

}
.btn-text{
  display: flex;
  align-items: center;
  gap: .8rem;
}
.current-link{
  background-color: var(--neutral-100);
justify-content: space-between;
}
.current-icon{
  color: var(--blue-500);
}
.tag-list,.tags-list-item{
    width: 100%;
}
.tag-list{
display: flex;
flex-direction: column;
gap: 1.2rem;
padding-top: .8rem;
border-top: 1px solid gray;
font-size: 1.6rem;


}
.tag-item{
    width: 100%;
}
.tag-btn{
    color: white;

}
