.note-form,.note-form-field,.lastEdited{
    width: 100%;
}
.note-form{
    padding: 2rem 2.4rem;

}
.note-form-field,.tag-label,.lastEdited{
    display: flex;
    align-items: center;
}

.title-input,.tags-input,.title-label{
    width: 100%;
    min-height: max-content;
    display: flex;
    align-items: center;
}
.title-input{
    font-size: 2.4rem;
}

.title-input:focus,.tags-input:focus{
    outline: none;
    border-bottom: 1px solid var(--neutral-200);
    transition: .3s ease-in-out;
}
.tags-lastEdited-wrapper{
    width: 100%;
    padding: 1.6rem 0;
    border-bottom: 1px solid var(--neutral-200);
}
.tag-label{
    gap: .6rem;
    max-width: 115px;
    width: 100%;
}
.lastEdited{
    margin-top: .8rem;
}
.note-form-field.content,.textarea-input{
width: 100%;
}
.note-form-field.content{
    border-bottom: 1px solid var(--neutral-200);
   
}
.textarea-input{
margin: 1.6rem 0;
background-color: inherit;
border: none;
resize: none;
min-height: 567px;
}
.textarea-input:focus{
    outline: none;
    border: 1px solid var(--neutral-200);
    padding: 1.6rem;
    transition: .3s ease-in-out;
    border-radius: .64rem;
}
.form-btn-wrapper{
    margin-top: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .8rem;
}
.form-btn{
    width: fit-content;
    padding: 0 1.6rem;
    height: 4.1rem;
    border-radius: .8rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--neutral-0);
}
.save{
    background-color: var(--blue-500);
}
.cancel{
    background-color: var(--neutral-100);
    color: var(--neutral-950);
}

.error-message{
    color: red;
    min-width: max-content;
}